/*Style graphique général*/
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/*page d'accueil*/
body{
    background-color: #26001B;
}

#header>.container{
    display: grid;
    grid-template-columns: 75% 5% 2% 5% 2% 7%;
    padding-top: 1rem;
}

#header>.container a{
    text-decoration: none;
}

#accueil > .container {
    display: grid;
    grid-template-rows: 5rem 7rem 5rem 5rem 8rem;
    text-align: center;
    padding-top: 4rem;
}

#accueil>.container div:last-of-type img{
    height: 4rem;
}

.fonction {
    border: solid white 0.1rem;
    border-radius: 4px;
    width: 6.5rem;
    padding: 0.3rem;
}

#projets > .container {
    grid-template-columns: 100px auto 100px;
    display: grid;
    grid-template-rows: 2px 100px 25px 360px 25px 360px 25px 360px 25px 360px;
}

#projets >.container div:first-of-type + div{
    grid-column-start: 2;
}

#projets > .container > div:first-of-type {
    background-color: #FF005C;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-column-end: 3;
}

#indiglu {
    background-image: url("../img/ProjetIndiglu.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
}


#campuscar{
    background-image: url("../img/ProjetCampusCar.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 6;
}

#quentintarantino{
    background-image: url("../img/ProjetQuentinTarantino.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 8;
    grid-row-end: 8;
}

#ideas4look{
    background-image: url("../img/ProjetIdeas4Look.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 10;
    grid-row-end: 10;
}

#indiglu > .container, #campuscar > .container, #ideas4look > .container, #quentintarantino > .container {
    display: grid;
    grid-template-columns: 50px 400px auto;
    grid-template-rows: 100px 10px 32px 10px 170px;
}

.titreProjet{
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 4;
}

.fonction{
    grid-row-start: 3;
    grid-column-start: 2;
}

.descriptionProjet{
    grid-column-start: 2;
    grid-row-start: 5;
}

#projets>.container h3{
    padding: 0;
    margin: 0;
}

footer > .container {
    grid-template-columns: 100px auto 64px 64px 64px 64px 100px;
    display: grid;
    grid-template-rows: 25px 2px 25px 50px 50px 25px 100px;
}

footer > .container > div:first-of-type + div {
    grid-column-start: 2;
    grid-row-start: 4;
    color: #FF005C;
}

footer > .container > div:first-of-type {
    background-color: #FF005C;
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 2;
}

footer > .container > div:nth-of-type(3) {
    grid-row-start: 5;
    grid-column-start: 2;
}

footer>.container> div:nth-of-type(4) img, footer>.container> div:nth-of-type(5) img, footer>.container> div:nth-of-type(6) img, footer>.container> div:nth-of-type(7) img, footer>.container> div:nth-of-type(8) img, footer>.container> div:nth-of-type(9) img{
    height: 3rem;
}

footer>.container> div:nth-of-type(5){
    grid-column-start: 3;
    grid-row-start: 4;
}

footer>.container> div:nth-of-type(6){
    grid-column-start: 4;
    grid-row-start: 4;
}

footer>.container> div:nth-of-type(7){
    grid-column-start: 5;
    grid-row-start: 4;
}

footer>.container> div:nth-of-type(8){
    grid-column-start: 6;
    grid-row-start: 4;
}

footer>.container> div:nth-of-type(9){
    text-align: center;
    grid-row-start: 6;
    grid-column-start: 2;
}

#accueil>.container>div{
    text-align: center;
    white-space: nowrap;
}

#accueil>.container>.titrePortfolio{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    display: flex;
    color: #26001B;
    -webkit-text-stroke: 2px #FFF711;
}


/*animation Accueil*/
#accueil>.container>.titrePortfolio{
    color: #FFF711;
    transition: color 1s ease-in;
}

#accueil>.container>.titrePortfolio p{
    white-space: nowrap;
    animation: animate 300s linear infinite;
}

@keyframes animate {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

.container{
    opacity: 0%;
}

.active{
    transition: opacity 400ms ease-out;
    opacity: 100%;
}

#accueil>.container div:last-of-type img{
animation: animationDescend 1s ease-in-out infinite;
}

@keyframes animationDescend{
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(1rem);
    }

    100%{
        transform: translateY(0);
    }
}

/*Indiglu*/
#indigluBody{
    background-color: #FCFBF5;
}

#indigluBody>#header>.container>div a {
    color: #493323;
}

#indigluBody > #mainIndiglu > .container {
    display: grid;
    grid-template-rows: 4rem 2rem 2rem 2rem 30rem;
    text-align: center;
    grid-template-columns: 4rem auto 4rem;
    grid-row-start: 3;
    grid-column-start: 1;
}

#mainIndiglu > .container div:first-of-type {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 4;
}

#mainIndiglu > .container div:last-of-type {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}

#mainIndiglu > .container div:last-of-type img {
    height: 100%;
    border-radius: 10px;
}

#mainIndiglu > .container div:first-of-type + div {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

#mainIndiglu>.container div:first-of-type{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    display: flex;
}

#indigluBody> #header{
    background-color: #E9B17E;
}

#mainIndiglu{
    background: linear-gradient(#E9B17E, rgba(255,255,255,0));
}

#indigluBody > .presentationProjet > .container {
    grid-template-columns: 100px auto 25px 25px auto 100px;
    display: grid;
    grid-template-rows: 25px 2px 25px 25px 25px 2px 25px 2px 25px 25px 25px 25px 25px 100px 25px 25px 25px 25px 100px 25px;
}

#indigluBody > .presentationProjet > .container div:first-of-type {
    background: rgba(112,112,112,29%);
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 6;
}

#indigluBody > .presentationProjet > .container div:nth-of-type(2){
    grid-column-start: 2;
    grid-row-start: 4;
}

#indigluBody > .presentationProjet > .container div:nth-of-type(3) {
    grid-column-start: 2;
    grid-row-start: 5;
    margin-top: 2rem;
}

#indigluBody > .presentationProjet > .container div:nth-of-type(4) {
    grid-column-start: 4;
    grid-row-start: 4;
    grid-column-end: 6;
}

#indigluBody > .presentationProjet > .container div:nth-of-type(5) {
    grid-column-start: 4;
    grid-row-start: 5;
    grid-column-end: 6;
    margin-top: 2rem;
}

#indigluBody > .presentationProjet > .container div:nth-of-type(7){
    grid-column-start: 4;
    grid-row-start: 7;
}

#indigluBody > .presentationProjet > .container div:nth-of-type(7) > img {
    height: 100%;
    margin-top: 2rem;
}

#indigluBody > .presentationProjet > .container div:nth-of-type(6) {
    background: rgba(112,112,112,29%);
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 7;
    margin-top: 2rem;
}

#indigluBody > .presentationProjet > .container div:nth-of-type(8) {
    grid-column-start: 5;
    grid-row-start: 7;
    margin: 2rem 0 0 1rem;
}

#indigluBody > .presentationProjet > .container div:nth-of-type(9){
    background: rgba(112,112,112,29%);
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 8;
}

#indigluBody > .presentationProjet > .container div:nth-of-type(10) {
    grid-column-start: 4;
    grid-row-start: 9;
    grid-column-end: 6;
    margin-top: 2rem;
}

#indigluBody > .presentationProjet > .container div:nth-of-type(11) {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 10;
    margin-top: 3.4rem;
}

#indigluBody > .presentationProjet > .container div:nth-of-type(12) {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 12;
    text-align: center;
    margin-top: 3rem;
}

#indigluBody > .presentationProjet > .container div:nth-of-type(13) {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 14;
    grid-row-end: 15;
    text-align: center;
    background-color: red;
    margin-top: 2rem;
}

#indigluBody > .presentationProjet > .container div:nth-of-type(14) {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 17;
    text-align: center;
}

#indigluBody > .presentationProjet > .container div:nth-of-type(15){
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 19;
    grid-row-end: 20;
}

#indigluBody > .choixVisuel > .container {
    display: grid;
    grid-template-columns: 100px 300px 50px 50px 5px auto 50px 50px 5px 300px 100px;
    grid-template-rows: 2px 10px 25px 25px 22.5px 5px 22.5px 5px 22.5px 5px 22.5px 5px 22.5px 5px 22.5px 25px;
}

#indigluBody > .choixVisuel > .container div:first-of-type {
    background: rgba(112,112,112,29%);
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 11;
}

#indigluBody > .choixVisuel > .container div:nth-of-type(2) {
    grid-column-start: 2;
    grid-row-start: 3;
}

#indigluBody > .choixVisuel > .container div:nth-of-type(3) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 17;
}

#indigluBody > .choixVisuel > .container div:nth-of-type(4) {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 3;
}

#indigluBody > .choixVisuel > .container div:nth-of-type(5) {
    background: #FCFBF5;
    border: solid #493323 0.1rem;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 8;
}

#indigluBody > .choixVisuel > .container div:nth-of-type(6) {
    grid-column-start: 6;
    grid-row-start: 5;
}

#indigluBody > .choixVisuel > .container div:nth-of-type(7) {
    grid-column-start: 6;
    grid-row-start: 7;
}

#indigluBody > .choixVisuel > .container div:nth-of-type(8) {
    background: #493323;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 9;
    grid-row-end: 12;
}

#indigluBody > .choixVisuel > .container div:nth-of-type(9) {
    grid-column-start: 6;
    grid-row-start: 9;
}

#indigluBody > .choixVisuel > .container div:nth-of-type(10) {
    grid-column-start: 6;
    grid-row-start: 11;
}

#indigluBody > .choixVisuel > .container div:nth-of-type(11) {
    background: #EAAC7F;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 13;
    grid-row-end: 16;
}

#indigluBody > .choixVisuel > .container div:nth-of-type(12) {
    grid-column-start: 6;
    grid-row-start: 13;
}

#indigluBody > .choixVisuel > .container div:nth-of-type(13) {
    grid-column-start: 6;
    grid-row-start: 15;
}

#indigluBody > .choixVisuel > .container div:nth-of-type(14) {
    grid-column-start: 8;
    grid-row-start: 3;
    grid-column-end: 11;
}

#indigluBody > .choixVisuel > .container div:nth-of-type(15) {
    background: #493323;
    grid-column-start: 8;
    grid-row-start: 5;
    grid-row-end: 8;
    color: white;
}
#indigluBody > .choixVisuel > .container div:nth-of-type(16) {
    grid-column-start: 10;
    grid-row-start: 5;
}

#indigluBody > .choixVisuel > .container div:nth-of-type(17) {
    grid-column-start: 10;
    grid-row-start: 7;
}

#indigluBody > .choixVisuel > .container div:nth-of-type(18) {
    background: #493323;
    grid-column-start: 8;
    grid-row-start: 9;
    grid-row-end: 12;
    color: white;
}

#indigluBody > .choixVisuel > .container div:nth-of-type(19) {
    grid-column-start: 10;
    grid-row-start: 9;
}

#indigluBody > .choixVisuel > .container div:nth-of-type(20) {
    grid-column-start: 10;
    grid-row-start: 11;
}

#indigluBody > .choixLogo > .container {
    display: grid;
    grid-template-columns: 100px 200px auto 100px;
    grid-template-rows: 2px 10px 25px 25px auto 25px;
}

#indigluBody > .choixLogo > .container div:first-of-type {
    background: rgba(112,112,112,29%);
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 4;
}

#indigluBody > .choixLogo > .container div:nth-of-type(2) {
    grid-column-start: 2;
    grid-row-start: 3;
}

#indigluBody > .choixLogo > .container div:nth-of-type(3) {
    grid-column-start: 2;
    grid-row-start: 5;
}

#indigluBody > .choixLogo > .container div:nth-of-type(4) {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 7;
    text-align: center;
    padding-top: 1rem;
}

#indigluBody >.maquette>.container{
    display: grid;
    grid-template-columns: 100px 50px auto 100px;
    grid-template-rows: 2px 10px 25px 10px 25px 10px 100px 25px auto 25px;
}

#indigluBody > .maquette > .container div:first-of-type {
    background: rgba(112,112,112,29%);
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 4;
}

#indigluBody > .maquette > .container div:nth-of-type(5) {
    grid-row-start: 8;
    grid-row-end: 10;
    grid-column-start: 2;
    grid-column-end: 4;
}

#indigluBody > .maquette > .container div:nth-of-type(2) {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 4;
}

#indigluBody > .maquette > .container div:nth-of-type(3) {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
    text-align: center;
}

#indigluBody > .maquette > .container div:nth-of-type(4) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 8;
}

#indigluBody > .maquette > .container div:nth-of-type(5) img {
    width: 100%;
}

/*Campus car*/
#campuscarBody> #header{
    background-color: #055C8C;
}

#mainCampuscar{
    background: linear-gradient(#055C8C, rgba(255,255,255,0));
}


/*animation Accueil*/
#mainIndiglu>.container div:first-of-type{
     color: #FFF711;
     transition: color 1s ease-in;
 }

#mainIndiglu>.container div:first-of-type p{
    white-space: nowrap;
    animation: animate 300s linear infinite;
}

#mainCampuscar>.container div:first-of-type{
    color: #FFF711;
    transition: color 1s ease-in;
}

#mainCampuscar>.container div:first-of-type p{
    white-space: nowrap;
    animation: animate 300s linear infinite;
}

@keyframes animate {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

