/*Chargement des polices*/
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/*page d'accueil*/
#header>.container{
    font-family: Open, sans-serif;
    color: #FFF600;
}

#header>.container div a{
    color: #FF005C;
}

#header>.container>.lienActif a{
    color: #FFF600;
}

#accueil>.container>.case p{
    font-family: Eczar, sans-serif;
    font-weight: bold;
    font-size: 3rem;
    color: #FFF600;
}

#accueil>.container div:first-of-type + div{
    font-family: Eczar, sans-serif;
    font-weight: bold;
    font-size: 8rem;
    color: #26001B;
    -webkit-text-stroke: 2px #FFF711;
}

#projets>.container h3{
    font-family: Eczar, sans-serif;
    font-weight: bold;
    font-size: 4rem;
    color: #26001B;
    -webkit-text-stroke: 1px #FFF711;
}

.titreProjet {
    font-family: Eczar, sans-serif;
    font-weight: bold;
    font-size: 4rem;
    color: rgba(255,255,255,0);
    -webkit-text-stroke: 1px #FFF711;
}

.fonction{
    font-family: Open, sans-serif;
    color: white;
}

.descriptionProjet{
    font-family: Open, sans-serif;
    color: white;
}

footer>.container> div:first-of-type + div{
    font-family: Eczar, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: #26001B;
    -webkit-text-stroke: 0.5px #FFF711;
}

#mainIndiglu>.container div:first-of-type{
    font-family: Eczar, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: #493323;
}

#mainIndiglu > .container div:first-of-type + div {
    font-family: Open, sans-serif;
    font-size: 1.5rem;
    color: #493323;
}

#indigluBody > .presentationProjet > .container div:nth-of-type(2), #indigluBody > .presentationProjet > .container div:nth-of-type(4),#indigluBody > .presentationProjet > .container div:nth-of-type(10),  #indigluBody > .presentationProjet > .container div:nth-of-type(14){
    font-family: Eczar, sans-serif;
    color: #493323;
    font-size: 1.5rem;
    font-weight: bold;
}

.titreIndiglu{
    font-family: Eczar, sans-serif;
    color: #493323;
    font-size: 1.5rem;
    font-weight: bold;
}

.desc{
    font-family: Open, sans-serif;
    color: #493323;
    font-size: 1rem;
}

#indigluBody > .presentationProjet > .container div:nth-of-type(3), #indigluBody > .presentationProjet > .container div:nth-of-type(5),#indigluBody > .presentationProjet > .container div:nth-of-type(8), #indigluBody > .presentationProjet > .container div:nth-of-type(11), #indigluBody > .presentationProjet > .container div:nth-of-type(13), #indigluBody > .presentationProjet > .container div:nth-of-type(15){
    font-family: Open, sans-serif;
    color: #493323;
    font-size: 1rem;
}

#indigluBody > .presentationProjet > .container div:nth-of-type(12){
    font-family: Eczar, sans-serif;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}